/* Spiner */
#spinner,
.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #3498db;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
    margin: 20px auto 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    display: none;
    z-index: 999;
}

.spinner-woo-card-loop {
    border: 2px solid rgba(0, 0, 0, 0.4);
    border-left-color: #fff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
    position: absolute;
    top: 30%;
    left: 30%;
    transform: translate(-50%, -50%);
    animation: spin-woo 1s linear infinite;
}
.spinner-woo-card-loop.middle {
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
}
.checkmark {
    font-size: 20px;
    color: #27ae60;
    /* Màu xanh lá */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes spin-woo {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* ------ START LOGIN ------- */
#login-message {
    color: green;
    font-size: 14px;
    font-style: italic;
    text-align: center;
    margin: 20px auto 0;
}

/* ------ END LOGIN ------- */

/*-----------------START HEADER---------------- */
.site-header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    background: transparent;
    transition: all 0.5s ease;
    /* transform: translateY(-50%); */
}

.site-header.fixed {
    position: fixed;
    background: rgb(255 255 255 / 62%);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* transform: translateY(0); */
    top: 0;
    backdrop-filter: blur(4px);
    height: 60px;
    animation: mations 1s ease;
}

@keyframes mations {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

.site-header .site-logo {
    flex: 1;
}

.site-header .main-navigation {
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.site-header .info-woo-header {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.site-header .info-woo-header a {
    color: #333;
    letter-spacing: 1px;
    font-size: 16px;
    position: relative;
}

.site-header .info-woo-header #cart-toggle {
    margin-right: 5px;
}

.site-logo img {
    max-height: 50px;
}

.nav-menu {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    flex-direction: column;
}

.nav-menu li {
    display: inline-block;
}

.nav-menu a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 18px;
}



/* User icon header */
.info-woo-header .user-menu {
    position: relative;
    display: flex;
    gap: 10px;
}

/* USER LOGIN/LOGOUT */
.info-woo-header .user-toggle {
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: #333;
    overflow: hidden;
    cursor: pointer;
}

.info-woo-header .user-dropdown {
    position: absolute;
    width: max-content;
    top: 10px;
    left: -15px;
    background-color: white;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    opacity: 0;
    transition: all 0.5s ease;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.info-woo-header .user-dropdown.active {
    opacity: 1;
    top: 35px;
    visibility: visible;
}

.info-woo-header .user-dropdown li {
    padding: 10px 15px;
    cursor: pointer;
}

.info-woo-header .user-dropdown li:hover {
    background-color: #33333333;
}

/* Cart */
.info-woo-header .cart-count {
    font-size: 10px;
    position: absolute;
    top: -7px;
    background-color: #ff748c;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    display: flex;
    left: 15px;
    color: #fff;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.cart-panel {
    position: fixed;
    top: 0;
    right: -100%;
    width: 25%;
    height: 100vh;
    background: #fff;
    transition: right 0.5s ease;
    z-index: 999;
}

.cart-panel.active {
    right: 0;
}

.cart-panel .cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #33333333;
    height: 50px;
}

.cart-panel .cart-header h4 {
    flex: 8;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-inline: 1px solid #33333333;
}

.cart-panel .cart-header p,
.cart-panel .cart-header #close-cart {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-panel .cart-content {
    padding: 0 20px;
    display: block;
    margin-top: 15px;
    height: calc(85vh + 21px);
    width: 100%;
    overflow-x: hidden;
}

.cart-panel .cart-content .empty-cart-message {
    text-align: center;
}

.cart-panel .cart-footer {
    /* position: absolute;
    bottom: 0; */
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: #333;
}

.cart-panel .cart-footer .view-cart,
.cart-panel .cart-footer .checkout {
    color: #fff;
    font-size: 16px;
}

.cart-panel #close-cart {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 0;
}

/* HUMBERGER */
.main-navigation {
    position: fixed;
    top: 0;
    right: -100%;
    width: 25%;
    height: 100vh;
    background: #333;
    transition: right 0.5s ease;
    z-index: 999;
    padding: 20px;
}

.main-navigation .nav-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.main-navigation .nav-menu li {
    padding: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.main-navigation .nav-menu li a {
    color: white;
    text-decoration: none;
    display: block;
}

.main-navigation {
    position: fixed;
    right: -100%;
    top: 0;
    width: 30%;
    height: 100vh;
    background: #494747;
    transition: right 0.5s ease;
}

.menu-open .main-navigation {
    right: 0;
}

.main-navigation .icon-close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    width: 30px;
    height: 30px;
}

.main-navigation .icon-close path {
    stroke: #fff;
    cursor: pointer;
}

header .menu-toggle {
    background: transparent;
    border: none;
    cursor: pointer;
}


#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    z-index: 78;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s;
}

#overlay.active {
    opacity: 1;
    visibility: visible;
}

.info-woo-header .line-head {
    background-color: #33333369;
    width: 1px;
    height: 3vh;
    color: aquamarine;
}

/*-----------------END HEADER---------------- */



/* ---------------- START BODY ---------------*/


/* Start Content Product Loop */
.custom-content-product {
    position: relative;
    display: inline-block;
}

.custom-content-product .product-link {
    display: block;
    position: relative;
    text-decoration: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.custom-content-product .thumb {
    margin-bottom: 6px;
}

.custom-content-product a {
    transition: box-shadow 0.5s ease;
    padding-bottom: 10px;
    border-radius: 5px;
}

.custom-content-product .thumb {
    overflow: hidden;
    position: relative;
}

.custom-content-product img {
    border-radius: 5px 5px 0 0;
    transition: all 0.5s ease;
    overflow: hidden;
}

.custom-content-product a:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.custom-content-product a:hover img {
    transform: scale(1.05);
    filter: opacity(0.6);
}

.custom-content-product .content {
    padding: 15px 10px;
}

.custom-content-product h2 {
    text-align: center;
    font-weight: 600;
    color: #333;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.custom-content-product .price {
    color: #cea384;
    text-align: center;
    font-weight: 500;
}

.custom-content-product .price .old-price {
    text-decoration: line-through;
    display: inline-block;
    color: #979797;
}

.custom-content-product .price .old-price .woocommerce-Price-currencySymbol {
    display: none;
}

.custom-content-product .add-to-cart-btn {
    position: absolute;
    top: 12%;
    left: -10%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}

.custom-content-product .add-to-cart-btn svg {
    fill: #fff;
    width: 20px;
    height: 20px;
}

.custom-content-product .product-link:hover .add-to-cart-btn {
    opacity: 1;
    left: 12%;
}

/* End content product loop */

/* Start Mini Cart */
.custom-mini-cart .cart-total {
    text-align: center;
}

.custom-mini-cart ul li {
    list-style: none;
    position: relative;
}

.custom-mini-cart ul .cart-item .thumb img {
    width: 85px;
    height: 85px;
    object-fit: cover;
}

.custom-mini-cart .cart-item .remove svg {
    width: 18px;
    height: 18px;
    fill: #cea384;
    cursor: pointer;
}

/* ---------------- END BODY ---------------*/

/* Footer */
.site-footer {
    background: #222;
    color: #fff;
    padding: 40px 0;
    text-align: center;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-logo img {
    max-height: 50px;
}

.footer-menu {
    list-style: none;
    padding: 0;
}

.footer-menu li {
    display: inline-block;
    margin: 0 10px;
}

.footer-menu a {
    color: #fff;
    text-decoration: none;
}

.footer-widgets {
    margin-top: 20px;
}

.footer-bottom {
    margin-top: 20px;
    border-top: 1px solid #444;
    padding-top: 15px;
    font-size: 14px;
}


/* SLICK SLIDE */
.slick-prev,
.slick-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: 1px solid #33333361;
    cursor: pointer;
    transition: all 0.4s ease;
}

.slick-prev:hover,
.slick-next:hover {
    background-color: #cea384;
    border: none;
}

.slick-prev {
    left: 20px;
}

.slick-next {
    right: 20px;
}

.slick-prev svg,
.slick-next svg {
    stroke: #33333361;
}

.slick-dots li button {
    display: none;
}

.slick-dots {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 5px;
}

.slick-dots li {
    width: 40px;
    height: 5px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 2px;
    transition: 0.3s;
    cursor: pointer;
}

/* Khi active thì màu sẽ sáng hơn */
.slick-dots li.slick-active {
    background: #cea384;
    width: 50px;
}

/* Mobile */
@media (max-width: 768px) {
    .nav-menu {
        display: none;
        flex-direction: column;
    }
}